<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        <strong>Top 5 most liked categories: </strong><br />
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

		<strong>Top 5 most viewed pages: </strong><br />
		{% if pages %}
		    <ul>
		        {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
		        {% endfor %}
		    </ul>
		{% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
		
        <a href="/rango/about/">About</a> &nbsp; &nbsp; &nbsp; &nbsp; 
		<a href="/rango/add_category/">Add a New Category</a>
    </body>
</html>
