{% extends "rango/base.html" %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1 class="form-signin-heading">User Profile</h1>
    </div>
    
    <style>
    img {
    float: left;
    margin: 10px;
    }
    </style>
    
    <li class="list-group-item">
        {% if user.picture %}
            <img src="{{ user.picture.url }}" HEIGHT="200" WIDTH="250"/>
        {% endif %}

        <h2> {{ user.username }} </h2>
    
        <b> Email Address: </b>
        {% if user.email %}
            <a href="{{user.email }}">{{user.email}}</a>
        {% else %}
            N/A
        {% endif %}
		
		<b> About Me: </b>
        {% if user.about %}
            <a href="{{user.about }}">{{user.about}}</a>
        {% else %}
            Update your info!
        {% endif %}
        
        <br /><br /><br /><br /><br /><br /><br />
    
    </li>
	
    <br />
    <form action="{% url 'register_profile' %}">
        <input class="btn btn-lg btn-primary" type="submit" value="Edit Profile">
    </form>
    
{% endblock %}